.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("/public/GameplayRender.png");
  height: 100vh;
  overflow: hidden;
  background-size: 100%;
  column-gap: 30px;
  padding: 30px;
}

.board_container {
  position: fixed;
  top: 50%;
}

.top_stats {
  display: flex;
  margin-bottom: auto;
  color: white;
  flex: 1;
  font-family: monospace;
  font-size: x-large;
}

.bottom {
  flex: 1;
}
